image: node:16.5.0
pages:
  stage: deploy
  cache:
    key:
      files:
        - package-lock.json
      prefix: npm
    paths:
      - node_modules/
  script:
    - npm install
    - npm run build
    - cp -a dist/. public/
    # saves private SSH key to a file
    - echo "$SSH_PRIVATE_KEY" > id_rsa
    - chmod 600 id_rsa
    - scp -i id_rsa public/* SSH_HOST
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH