#root {
  text-align: center;
}

.appHeader {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.logo {
  display: flex;
  position: relative;
  flex-direction: row;
}

.loginbtn {
  width: 5vw;
  height: 4vh;
  background-color: transparent;
  border: 3px solid white;
  border-radius: 50px;
  color: white;
  margin-top: 1vh;
}

.signupbtn {
  width: 5vw;
  height: 4vh;
  background-color: white;
  border-radius: 50px;
  color: #a446be;
  margin-top: 1vh;
}
