#root {
  text-align: center;
}

.app_header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.logo {
  display: flex;
  position: relative;
  flex-direction: row;
}

.landing_header {
  color: white;
  font-size: 3em;
  font-family: sans-serif;
}

.landing_prompt {
  color: white;
  font-size: 1.5em;
  font-family: sans-serif;
  font-weight: 300;
}

.btn_wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 1vh;
}

.login_btn {
  display: flex;
  width: 5vw;
  height: 4vh;
  background-color: transparent;
  border: 3px solid white;
  border-radius: 50px;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 1vw;
  margin-right: 1vw;
  text-decoration: none;
  font-family: sans-serif;
}

.signup_btn {
  display: flex;
  width: 5vw;
  height: 4.7vh;
  background-color: white;
  border-radius: 50px;
  color: #a446be;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 1vw;
  text-decoration: none;
  font-family: sans-serif;
}
