:root {
  text-align: center;
  --max-width: calc(100%);
  --color-purple: #a446be;
  --color-violet: #7788dd;
  --color-blue: #69b8fa;
  --color-bg: #001220;
  --color-indigo: #67a1f7;
  --rotate: 132deg;
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1f313f;
  padding: 2rem;
  gap: 1rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0%; right: 0%; margin: auto;
  border: 5px solid transparent;
  border-image: linear-gradient(
      var(--rotate),
      var(--color-purple),
      var(--color-violet),
      var(--color-blue)
    )
    1;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    var(--rotate),
    var(--color-purple),
    var(--color-violet),
    var(--color-blue)
  );
  animation: spin 5s infinite linear;

  width: 30rem;
  max-width: calc(100% - 7rem);
  margin: auto;
  left: 0;
  right: 0;
}

.card:hover {
  color: rgb(88 199 250 / 100%);
  transition: color 1s;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

.login_form {
  border-radius: 50px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.25);
  border: 0;
  margin: 0.2rem;
  padding: 0.7rem;
  width: 80%;
}

.login_prompt {
  color: white;
  font-family: sans-serif;
}

.login_prompt span {
  color: var(--color-blue);
}
